<!-- parking-spots.component.html -->
<div class="container-fluid mt-4">
    <button class="btn btn-primary mb-3" routerLink="/parking-spots/add">Add New Parking Spot</button>
    <table class="table" style="margin-top: 100px;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Number</th>
          <th scope="col">Type</th>
          <th scope="col">Parking Lot</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parkingSpot of parkingSpots">
          <th scope="row">{{ parkingSpot.idParkingSpot }}</th>
          <td>{{ parkingSpot.numSpot }}</td>
          <td>{{ parkingSpot.spotType }}</td>
          <td>{{ parkingSpot.parkingLot.name }}</td>
          <td>
            <div style="display: flex; align-items: center;">
              <span style="cursor: pointer; margin-right: 10px;" (click)="deleteParkingSpot(parkingSpot.idParkingSpot)">
                <i class="ni ni-fat-remove text-danger"></i>
              </span>
              <span style="cursor: pointer;" (click)="updateParkingSpot(parkingSpot.idParkingSpot)">
                <i class="ni ni-ruler-pencil text-info"></i>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  