<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 10px;
    background-image: url(assets/img/commentaire.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-4"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello</h1>
        <p class="text-white mt-0 mb-5">
          "Be part of our community effort to support each other. Leave a
          comment to offer help or share valuable insights."
        </p>
        <a routerLink="/add-comment" class="btn btn-primary">Add Comment</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <!-- Votre carte de profil va ici -->
    </div>
    <div class="col-xl-9 order-xl-1 mx-auto" style="max-width: 800px">
      <div class="card bg-secondary shadow w-100">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Comments</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Content</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of comments">
                <td scope="row">{{ comment.idComm }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.description }}</td>
                <td>{{ comment.datePub }}</td>
                <td>
                  <div style="display: flex; align-items: center">
                    <span
                      placement="top-center"
                      style="cursor: pointer; margin-right: 10px"
                      ngbTooltip="Supprimer"
                      (click)="deleteComment(comment.idComm)"
                    >
                      <i class="ni ni-fat-remove text-danger"></i>
                    </span>
                    <a
                      routerLink="/update-comment/{{ comment.idComm }}"
                      placement="top-center"
                      style="cursor: pointer"
                      ngbTooltip="Modifier"
                    >
                      <i class="ni ni-ruler-pencil text-info"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
