<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 10px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello</h1>
        <p class="text-white mt-0 mb-5">
            Lost something? Our Lost and Found interface is here to assist you in reclaiming your belongings
        </p>
      </div>
    </div>
  </div>
</div>
<table class="table" style="margin-top: 100px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">date</th>
      <th scope="col">userName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of poste">
      <th scope="row">{{ post.idPoste }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>{{ post.date }}</td>
      <td>{{ post.userName }}</td>
<td>
  <div style="display: flex; align-items: center;">
    <span placement="top-center" style="cursor: pointer; margin-right: 10px;" ngbTooltip="Supprimer" (click)="deletePoste(post.idPoste)">
      <i class="ni ni-fat-remove text-danger"></i>
    </span>     
    <span placement="top-center" style="cursor: pointer;" ngbTooltip="Modifier" (click)="updatePoste(post)">
      <i class="ni ni-ruler-pencil text-info"></i>
    </span>
  </div>
</td>

         
    </tr>
  </tbody>
</table>