<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 10px;
    background-image: url(assets/img/commentaires.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-4"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello</h1>
        <p class="text-white mt-0 mb-5">
          Join the conversation and lend a helping hand to those seeking guidance
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <!-- Votre carte de profil va ici -->
    </div>
    <div class="col-xl-9 order-xl-1 mx-auto" style="max-width: 800px">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Update Comment</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-wrapper">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="content">Content:</label>
                <input
                  type="text"
                  class="form-control"
                  id="content"
                  [(ngModel)]="comment.content"
                  name="content"
                  required
                />
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea
                  class="form-control"
                  id="description"
                  [(ngModel)]="comment.description"
                  name="description"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label for="datePub">Date:</label>
                <input
                  type="date"
                  class="form-control"
                  id="datePub"
                  [(ngModel)]="comment.datePub"
                  name="datePub"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
